<!-- <footer> -->
<footer class="sticky-footer">
  <div class="grid-footer">
    <div class="box1">
        <p>REACH ME THROUGH EMAIL</p>
        <a
          href="mailto:contact@dotachieve.com?subject=Let's build something awesome!" 
          target="_top"
          class="contact">contact@dotachieve.com</a>
      </div>
      <div class="box2">
        <p>FOLLOW ME ON</p>
        <div class="follow-me">
          <a
            target="_blank" 
            href="https://www.facebook.com/Dot-Achieve-873528616162683/"><i class="fa fa-facebook-square"></i></a>
          <a 
            target="_blank"
            href="https://github.com/rwmb"><i class="fa fa-github"></i></a>
          <a 
            target="_blank"
            href="https://www.linkedin.com/in/richardwmb/"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
      <div class="box3">
        <p>COPYRIGHT &copy; {{getCopyrightYear()}} DOT ACHIEVE. ALL RIGHTS RESERVED</p>
      </div>
  </div>
</footer>