<div class="about-section" #container>
  <h2 class="about-header">A BIT ABOUT ME</h2>
  <div class="picture">
      <img #aboutImage src="assets/images/about.jpg" alt="Richard William">
      <outline-profile></outline-profile>
      <app-bunny #bunny></app-bunny>
      <app-insect #insect></app-insect>
      <app-pirate #pirate></app-pirate>
      <app-diver #diver></app-diver>
  </div>
  <div class="about" #aboutText [ngClass]="{fadeInUp: showText, invisible: !showText}">
    <p class="first-paragraph">Hi there! I'm Richard William. I'm a {{getAge()}} y/o Software Engineer, Designer and Content Producer from Brazil. I started my carrer in 2013 creating simple desktop applications for my administrative job, but I started playing around with video and image editing softwares since I was 14, and coding when I was 16. Later on I started a Game Development graduation at Unisinos University in Porto Alegre, Brazil, and there was where I discovered that my passion was creating interactive, fun and useful applications to help people and companies achieve their goals. I've been breathing and eating code and design since then. I can't stop. And I don't want to.</p>
    <p class="second-paragraph">Today I'm someone who is always learning new technologies and seeking challenging projects. I create solutions that facilitate lives and develop businesses. Another true passion in my life is my family, which I love to spend my free time with.</p>
  </div>
</div>