.cls-1 {
  isolation: isolate;
}

.cls-2 {
  fill: #8a552e;
}

.cls-3 {
  fill: #784927;
}

.cls-4 {
  fill: #ac6937;
}

.cls-5 {
  fill: #9f6032;
}

.cls-6 {
  fill: #433d3a;
}

.cls-7 {
  fill: #c1b08a;
}

.cls-8 {
  fill: #575858;
}

.cls-9 {
  fill: #9f6f40;
}

.cls-10 {
  fill: #d1c997;
}

.cls-11 {
  fill: #c3783f;
}

.cls-12 {
  fill: #c8c8c8;
}

.cls-13 {
  fill: #e1e1e1;
}

.cls-14 {
  fill: #eea500;
}

.cls-15 {
  fill: #323232;
}

.cls-16 {
  fill: #f0f0f0;
}

.cls-17 {
  fill: #dcdcdc;
}

.cls-18 {
  fill: #e6e6e6;
}

.cls-19 {
  fill: #fff;
}

.cls-20 {
  fill: #ffb400;
}

.cls-21 {
  fill: #505050;
}

.cls-22 {
  fill: #ebebeb;
}

.cls-23 {
  fill: #c7c7c7;
}

.cls-24 {
  fill: #70716d;
}

.cls-25 {
  fill: #a9a9a9;
}

.cls-26 {
  fill: #dbdbdb;
}

.cls-27 {
  fill: #f0f0ef;
}

.cls-28 {
  fill: #121313;
}

.cls-29 {
  fill: #8d8b88;
}

.cls-30 {
  fill: #f9f9f8;
}

.cls-31 {
  fill: #2f2f2f;
}

.cls-32 {
  fill: #bdbdbd;
}

.cls-33 {
  mix-blend-mode: soft-light;
}

.cls-34 {
  fill: #000b4d;
}